
body{
    margin: 0px auto;
    width: 1200px;
}

.seccion-noticias  {
    padding: 0 8px;
    
   
}
.seccion-noticias__noticia{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.seccion-noticias__post{
    margin: 4px;
    width: 50%;
    height: 520px;
    box-shadow: 3px 3px 4px 3px rgba(21,99,157,.16);
    border-radius: 10px;
    background-color: #f7f7f7;
    text-align: center;
}

.seccion-noticas__titulo{
    text-align: center;
    margin: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: #27303b;
}
.seccion-noticias__parrafo{

    font-family: 'Thasadith', sans-serif;
    font-size: 18px;
    text-align: center;
    padding: 0 10px;
    height: 90;

}

.header{

    width: 1200px;
    margin: 0px auto;
    padding: 0 auto;
    
}

.container{
    background-color: rgb(183, 0, 255);
    height: auto;
}

.container-menu{
    height: 60px;
    background-color: rgb(0, 153, 255);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;

}
.container-logo{
    width: 100%;
    height: 60px;
    background-color: rgb(240, 248, 255);
    text-align: center;
}

.site-title{
    margin: 0;
    padding: 0.36em 0;
}

.container-imagen{
    background-image: url('./baner.jpg');
    height: 215px ;
    /* margin-bottom: 20px; */
    margin-top: 10px;
}
.image-text{
    margin: 0;
    padding: 9% 0;
    text-align: center;
}
.nav-list{
    padding: 0.25em 0;
    list-style-type: none;
    text-align: end;
    width: 100%;

}

.main-menu{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    
}

.main-menu__item{
     line-height: 3.7vw; 

}

.main-menu__link{
    text-decoration: none;
    font-size: 1.5em;
    color: #3e3e3e;
}

.servicios{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.servicios__post{
    width: 33%;
   margin: 5px;
   box-shadow: 3px 3px 4px 3px rgba(21,99,157,.16);
   border-radius: 10px;
   text-align: center;
}

.servicios__imagen{
    width: 96%;
    height: 300px;
    display: block;
    margin: 7px auto;   
}

.servicios__titulo{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
.servicios__descripcion{
    font-family: 'Thasadith', sans-serif;
    font-size: 15px;
    text-align: center;
    margin: 5px;
}
.servicios_enlace{
    background-color: #58902d;
    color: rgb(240, 248, 255);
    border-radius: 10px;
    padding: 10px;
    margin: 10px 15px;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    font-family: 'Thasadith', sans-serif;
    text-decoration: none; 
}

.servicios_enlace:hover{
    background-color: #008CBA;
    color: white;
}
.seccion-noticias__imagen{
    width: 96%;
    height: 250px;
    display: block;
    margin: 15px auto;
}
.seccion-noticias_enlace{
    background-color: #58902d;
    color: rgb(240, 248, 255);
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    font-family: 'Thasadith', sans-serif;
    text-decoration: none; 
}